<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-35-161-26-88.us-west-2.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>odata</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MainConnectionString" Order="1" Enabled="False">
          <Destination Path="server=mysqlinstance.conu883ntaq5.us-west-2.rds.amazonaws.com;port=3306;database=products;uid=root;password=DBrjkjltw123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ODataService.DAL.MainDbContext, ODataService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DeployConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=mysqlinstance.conu883ntaq5.us-west-2.rds.amazonaws.com;port=3306;database=products;user id=root;password=DBrjkjltw123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DeployConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=mysqlinstance.conu883ntaq5.us-west-2.rds.amazonaws.com;port=3306;database=products;uid=root;password=DBrjkjltw123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ODataServiceContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|ODataServiceContext-20161024201851.mdf;Initial Catalog=ODataServiceContext-20161024201851;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ODataServiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=ODataServiceContext-20161024201851; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ODataServiceContext-20161024201851.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DeployConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainConnectionString-Web.config Connection String">
      <ParameterValue>server=mysqlinstance.conu883ntaq5.us-west-2.rds.amazonaws.com;port=3306;database=products;uid=root;password=DBrjkjltw123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>